@page "/employeeoverview"
@using Syncfusion.Blazor.Grids
@inherits EmployeeOverviewBase

<h1 class="page-title">All employees</h1>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Employee ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
                <tr>
                    <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{employee.EmployeeId}-small.jpg")" class="rounded-circle" /></td>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>
                        <a href="@($"employeedetail/{employee.EmployeeId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="@($"employeeedit/{employee.EmployeeId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <SfGrid DataSource="Employees">
        <GridColumns>
            <GridColumn Field="@nameof(EmployeeDetail.EmployeeId)" IsPrimaryKey="true"
                        HeaderText="Employee Id"
                        TextAlign="TextAlign.Left"
                        Width="120"
                        ValidationRules="@(new ValidationRules{ Required=true, Number=true})">
            </GridColumn>

            <GridColumn Field="@nameof(EmployeeDetail.Employee.FirstName)"
                        HeaderText="First Name"
                        TextAlign="TextAlign.Left"
                        Width="150">
            </GridColumn>

            <GridColumn Field="@nameof(EmployeeDetail.Employee.LastName)"
                        HeaderText="Last Name"
                        TextAlign="TextAlign.Left"
                        Width="150">
            </GridColumn>

        </GridColumns>
    </SfGrid>
}

<button @onclick="@QuickAddEmployee" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>

<AddEmployeeDialog @ref="AddEmployeeDialog" CloseEventCallback="@AddEmployeeDialog_OnDialogClose"></AddEmployeeDialog>